PORT=3000
JWT_SECRET=FILL_ME_IN
OPENAI_KEY=FILL_ME_IN
DATABASE_URL=FILL_ME_IN
NODE_ENV=development
CLOUDINARY_CLOUD_NAME=FILL_ME_IN
CLOUDINARY_API_KEY=FILL_ME_IN
CLOUDINARY_API_SECRET=FILL_ME_IN
GOOGLE_CLIENT_ID=FILL_ME_IN